<p style="color: green"><%= notice %></p>

<%= render @post %>

<h6 class="text-muted my-5">
  Comments
</h6>

<%= render 'comments/form' %><br>

<% @post.comments.order(id: :asc).each do |comment| %>
  <%= (render comment) if (comment.root?) %>
<% end %>

<div class="btn-group my-5">
  <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-sm btn-outline-light" %>
  <%= link_to "Back to posts", posts_path, class: "btn btn-sm btn-outline-light" %>
  <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-sm btn-outline-light" %>
</div>
