<p style="color: green"><%= notice %></p>

<%= render @post %>

<h6 class="text-muted my-5">
  Comments
</h6>

<div class="border p-5 my-5">
  <%= simple_form_for @post.comments.new, method: :post do |f| %>
    <%= f.input :user_id, input_html: { value: current_user.id }, as: :hidden %>
    <%= f.input :post_id, input_html: { value: @post.id }, as: :hidden %>
    <%= f.input :content, as: :text, label: false, input_html: { autocomplete: 'off' } %>
    <%= f.button :submit, class: "btn btn-sm btn-outline-success" %>
  <% end %>
</div>

<%#= render partial: 'comments/form' %>
<%= render @post.comments.order(id: :desc) %>

<div class="btn-group my-5">
  <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-sm btn-outline-light" %>
  <%= link_to "Back to posts", posts_path, class: "btn btn-sm btn-outline-light" %>
  <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-sm btn-outline-light" %>
</div>
